$white-color: #FFFFFF;
$black-color: #000000;

$primary-text-color: #7E6D53;
$secondary-text-color: #2D2A22;

$primary-background-color: #EDE9E3;

$light-color: #FCFCFB;
$light-color-with-opacity: rgba(252, 252, 251, 0.9);

$btn-bcg-color: #2E2B23;

$pagination-color: #C4C4C4;

$privicy-text-color: #979797;

$modal-text-color: #35322D;
$modal-border-color: #3A3631;
$placeholder-text-color: #999EA3;

$pop-up-bcg-color: #EDE9E3;