$white-color: #ffffff;
$black-color: #000000;

$primary-text-color: #7e6d53;
$secondary-text-color: #2d2a22;

$primary-background-color: #ede9e3;

$light-color: #fcfcfb;
$light-color-with-opacity: rgba(252, 252, 251, 0.9);

$btn-bcg-color: #2e2b23;

$pagination-color: #c4c4c4;

$privicy-text-color: #979797;

$modal-text-color: #35322d;
$modal-border-color: #3a3631;
$placeholder-text-color: #999ea3;

$pop-up-bcg-color: #ede9e3;
