<section class="about" id="about">
  <div class="about__background">
    <h2 class="visually-hidden">About us</h2>
    <div class="container about__container">
      <ul class="about__list">
        <li class="about__item about__item--case">
          <p class="about__description">15 years of experience</p>
        </li>
        <li class="about__item about__item--diagram">
          <p class="about__description">30 thousand happy residents</p>
        </li>
        <li class="about__item about__item--home">
          <p class="about__description">22 houses built</p>
        </li>
        <li class="about__item about__item--awards">
          <p class="about__description">9 awards</p>
        </li>
      </ul>
      <div class="about__roster">
        <h3 class="about__title">Philosophy of our company</h3>
        <p class="about__translation">
          Residential complex “Nice view” is an island of tranquility, security
          and comfort. In our project, we created the opportunity to lead a
          measured life in the very center of the city.
        </p>
      </div>
    </div>
  </div>
</section>
