<section class="section-aboutus">
  <div class="section-aboutus__background">
    <div class="section-aboutus__transparent">
      <div class="container">
        <div class="section-aboutus__group">
          <ul class="section-aboutus__list">
            <li class="section-aboutus__item">
              <svg class="section-aboutus__icon" width="32" height="32">
                <use href="./images/icon/symbol-defs.svg#case"></use>
              </svg>
              <p class="section-aboutus__description">15 years of experience</p>
            </li>
            <li class="section-aboutus__item">
              <svg class="section-aboutus__icon" width="32" height="32">
                <use href="./images/icon/symbol-defs.svg#diagram"></use>
              </svg>
              <p class="section-aboutus__description">
                30 thousand happy residents
              </p>
            </li>
            <li class="section-aboutus__item">
              <svg class="section-aboutus__icon" width="32" height="32">
                <use href="./images/icon/symbol-defs.svg#home"></use>
              </svg>
              <p class="section-aboutus__description">22 houses built</p>
            </li>
            <li class="section-aboutus__item">
              <svg class="section-aboutus__icon" width="32" height="32">
                <use href="./images/icon/symbol-defs.svg#awards"></use>
              </svg>
              <p class="section-aboutus__description">9 awards</p>
            </li>
          </ul>
          <ul class="section-aboutus__roster">
            <li class="section-aboutus__secondary">
              <h3 class="section-aboutus__title">Philosophy of our company</h3>
              <p class="section-aboutus__translation">
                Residential complex “Nice view” is an island of tranquility,
                security and comfort. In our project, we created the opportunity
                to lead a measured life in the very center of the city.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
