<!-- Apartments -->
<section class="apartments">
  <div class="apartments__container container">
    <h2 class="apartments__title">Choose your apartment</h2>
    <ul class="apartments__list">
      <li class="apartments__item">
        <a class="apartments__link link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/apartments/apartment-1_1280@1x.jpg 1x,
                ./images/apartments/apartment-1_2560@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/apartments/apartment-1_768@1x.jpg  1x,
                ./images/apartments/apartment-1_1536@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 480px)"
              srcset="
                ./images/apartments/apartment-1_320@1x.jpg 1x,
                ./images/apartments/apartment-1_640@2x.jpg 2x
              "
            />
            <img
              class="apartments__image"
              src="./images/apartments/apartment-1_320@1x.jpg"
              alt="Apartment planning type 1, total area 23 meters"
            />
            <h3 class="apartments-item__title">Type 1</h3>
            <p class="apartments-item__description">total area 23 meters</p>
          </picture>
        </a>
      </li>
      <li class="apartments__item">
        <a class="apartments__link link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/apartments/apartment-2_1280@1x.jpg 1x,
                ./images/apartments/apartment-2_2560@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/apartments/apartment-2_768@1x.jpg  1x,
                ./images/apartments/apartment-2_1536@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 480px)"
              srcset="
                ./images/apartments/apartment-2_320@1x.jpg 1x,
                ./images/apartments/apartment-2_640@2x.jpg 2x
              "
            />
            <img
              class="apartments__image"
              src="./images/apartments/apartment-2_320@1x.jpg"
              alt="Apartment planning type 2, total area 27 meters"
            />
            <h3 class="apartments-item__title">Type 2</h3>
            <p class="apartments-item__description">total area 27 meters</p>
          </picture>
        </a>
      </li>
      <li class="apartments__item">
        <a class="apartments__link link" href="">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="
                ./images/apartments/apartment-3_1280@1x.jpg 1x,
                ./images/apartments/apartment-3_2560@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/apartments/apartment-3_768@1x.jpg  1x,
                ./images/apartments/apartment-3_1536@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 480px)"
              srcset="
                ./images/apartments/apartment-3_320@1x.jpg 1x,
                ./images/apartments/apartment-3_640@2x.jpg 2x
              "
            />
            <img
              class="apartments__image"
              src="./images/apartments/apartment-3_320@1x.jpg"
              alt="Apartment planning type 3, total area 31 meters"
            />
            <h3 class="apartments-item__title">Type 3</h3>
            <p class="apartments-item__description">total area 31 meters</p>
          </picture>
        </a>
      </li>
    </ul>
    <button class="apartments__btn" type="button">Download catalog</button>
  </div>
</section>
