<footer class="footer">
  <div class="container">
    <div class="group-tablet-wrapper">
      <div class="footer__logo-wrapper">
        <a href="#" class="logo link">
          <svg class="logo__icon">
            <use href="/src/images/icon/symbol-defs.svg#logo"></use>
          </svg>
        </a>
      </div>

      <div class="group-mobile-wrapper">
        <div class="footer__nav-group">
          <p class="footer__nav-title">Navigation</p>
          <ul class="footer__nav-list list">
            <li class="footer__nav-item">
              <a href="#home" class="footer__nav-link link"> Home </a>
            </li>
            <li class="footer__nav-item">
              <a href="#about" class="footer__nav-link link"> About </a>
            </li>
            <li class="footer__nav-item">
              <a href="#apartments" class="footer__nav-link link">
                Apartments
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="#infrastructure" class="footer__nav-link link">
                Infrastructure
              </a>
            </li>
            <li class="footer__nav-item">
              <a href="#gallery" class="footer__nav-link link"> Gallery </a>
            </li>
          </ul>
        </div>

        <div class="footer__contacts-group">
          <p class="footer__contacts-title">Contacts</p>
          <address class="footer__contacts-address">
            <ul class="footer__contacts-list list">
              <li class="footer__contacts-item">
                <a
                  href="tel:+4065550120"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="footer__contacts-link link"
                >
                  (406) 555-0120
                </a>
              </li>
              <li class="footer__contacts-item">
                <a
                  href="https://goo.gl/maps/oJqpqP3oKtNjwjiW8"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="footer__contacts-link link"
                >
                  ul. Chodkiewicza Karola 111, Chorzów
                </a>
              </li>
              <li class="footer__contacts-item">
                <a
                  href="mailto:deanna.curtis@example.com"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  class="footer__contacts-link link"
                >
                  deanna.curtis@example.com
                </a>
              </li>
            </ul>
          </address>
        </div>
      </div>

      <div class="footer__socials-group">
        <ul class="footer__socials-list list">
          <li class="footer__socials-item">
            <a
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="footer__socials-link link"
            >
              <svg class="footer__socials-icon">
                <use href="/src/images/icon/symbol-defs.svg#youtube"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials-item">
            <a
              href="https://www.instagram.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="footer__socials-link link"
            >
              <svg class="footer__socials-icon">
                <use href="/src/images/icon/symbol-defs.svg#instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials-item">
            <a
              href="https://twitter.com"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="footer__socials-link link"
            >
              <svg class="footer__socials-icon">
                <use href="/src/images/icon/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer__socials-item">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              class="footer__socials-link link"
            >
              <svg class="footer__socials-icon">
                <use href="/src/images/icon/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="footer__privacy-text">
      By using this website, you agree to the
      <a href="#" class="footer__privacy-link">Terms&nbspof Service</a>
      and
      <a href="#" class="footer__privacy-link">Privacy Policy</a>
    </p>
  </div>
</footer>
