<footer>
    <div class="container">
        <a href="#" class="logo link">
            <svg class="logo__icon">
                <use href="/src/images/icon/symbol-defs.svg#logo"></use>
            </svg>
        </a>

        <div>
            <p>Navigation</p>
            <ul>
                <li>
                    <a href="">
                        Home
                    </a>
                </li>
                <li>
                    <a href="">
            
                    </a>
                </li>
                <li>
                    <a href="">
            
                    </a>
                </li>
                <li>
                    <a href="">
            
                    </a>
                </li>
                <li>
                    <a href="">
            
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>