<section id="gallery" class="swiper mySwiper">
  <div class="container">
    <h2 class="swiper-name">Gallary</h2>
  </div>

  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img
        src="./images/gallary2/image 28.jpg"
        alt=""
        width="556"
        height="589"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="./images/gallary2/image 29.jpg"
        alt=""
        width="556"
        height="589"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="./images/gallary2/image 30.jpg"
        alt=""
        width="556"
        height="589"
      />
    </div>
    <div class="swiper-slide">
      <img
        src="./images/gallary2/image 31.jpg"
        alt=""
        width="556"
        height="589"
      />
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</section>
