<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="gallery-title">Gallery</h2>

    <div class="gallery-wrapper">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img
              class="gallery-img"
              src="./images/gallary2/image 28.jpg"
              alt=""
              width="556"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              src="./images/gallary2/image 29.jpg"
              alt=""
              width="556"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              src="./images/gallary2/image 30.jpg"
              alt=""
              width="556"
            />
          </div>
          <div class="swiper-slide">
            <img
              class="gallery-img"
              src="./images/gallary2/image 31.jpg"
              alt=""
              width="556"
            />
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
