<header class="header-section" id="home">
  <div class="header-section__container container">
    <a href="#" class="logo link">
      <svg class="logo__icon">
        <use href="/src/images/icon/symbol-defs.svg#logo"></use>
      </svg>
    </a>

    <button
      class="menu-toggle js-open-menu"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg
        aria-label="Перемикач мобільного меню"
        width="24"
        height="24"
        class="menu-toggle__icon"
      >
        <use
          href="/src/images/icon/symbol-defs.svg#burger-menu"
          class="menu-toggle__burger-menu"
        ></use>
      </svg>
    </button>

    <nav class="nav">
      <ul class="nav__list list">
        <li class="nav__item">
          <a href="#home" class="nav__link link"> Home </a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link link"> About </a>
        </li>
        <li class="nav__item">
          <a href="#apartments" class="nav__link link"> Apartments </a>
        </li>
        <li class="nav__item">
          <a href="#infrastructure" class="nav__link link"> Infrastructure </a>
        </li>
        <li class="nav__item">
          <a href="#gallery" class="nav__link link"> Gallery </a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link link"> Contacts </a>
        </li>
      </ul>
    </nav>

    <button type="submit" class="header__btn" data-modal-open>
      Contact us
    </button>
  </div>
</header>
