<section class="infrastructure" id="infrastructure">
  <div class="container">
    <h2 class="section-infrastructure__title">Infrastructure</h2>
    <div class="section-infrastructure__bgimage">
      <ul class="section-infrastructure__list animate__animated animate__zoomIn">
        <li class="section-infrastructure__item">
          <div class="section-infrastructure__decoration">
            <h3 class="section-infrastructure__name">2 minutes walk</h3>
          </div>
          <p class="section-infrastructure__description first">
            to the supermaket
          </p>   
        </li>
        <li class="section-infrastructure__item">
          <p class="section-infrastructure__description second">
            to the coffee shop
          </p>
          <div class="section-infrastructure__decoration">
            <h3 class="section-infrastructure__name">4 minutes walk</h3>
          </div>
        </li>
        <li class="section-infrastructure__item">
          <div class="section-infrastructure__decoration">
            <h3 class="section-infrastructure__name">7 minutes walk</h3>
          </div>
          <p class="section-infrastructure__description third">
            to the nearest park
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
