<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="modal__close-button" data-modal-close>
            <svg class="modal__close-icon">
                <use href="/src/images/icon/symbol-defs.svg#close-modal"></use>
            </svg>
        </button>

        <strong class="modal__title">Leave your contacts and we will contact you</strong>

        <form name="modal_form" class="modal-form">
            <label for="user_name" class="label">Name</label>
            <input type="text" name="user_name" id="user_name" placeholder="Yuliia" class="modal-form__field">
            <label for="user_telephone" class="label">Telephone</label>
            <input type="tel" name="user_telephone" id="user_telephone" placeholder="+380" class="modal-form__field">
            <label for="user_email" class="label">Email</label>
            <input type="email" name="user_email" id="user_email" placeholder="Contact@gmail.com" class="modal-form__field">

            <button type="submit" class="button subscribe-button">Contact us</button>
        </form>
    </div>
</div>