.footer {
    padding-top: 20px;
    padding-bottom: 8px;

    background-color: grey;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
    }
}

.group-tablet-wrapper {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;

        margin-bottom: 20px;
    }
}

.footer__logo-wrapper {
    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) {
        margin-right: 127px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 162px;
    }
}

.group-mobile-wrapper {
    display: flex;
    justify-content: space-between;

    margin-bottom: 28px;
}

.footer__nav-group {
    flex-direction: column;

    @media screen and (min-width: 768px) {
        margin-right: 83px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 208px;
    }
}

.footer__nav-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22 / 18);

    color: $white-color;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: calc(24 / 20);
    }
}

// .footer__nav-list {
// }

.footer__nav-item {
    margin-top: 16px;
}

.footer__nav-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: calc(19 / 16);

    color: $white-color;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: calc(19 / 16);
    }
}

.footer__contacts-address {
    font-style: normal;
}

.footer__contacts-group {
    max-width: 135px;

    flex-direction: column;

    word-wrap: break-word;

    @media screen and (min-width: 768px) {
        max-width: 219px;
    }
}

.footer__contacts-title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(22 / 18);

    color: $white-color;

    @media screen and (min-width: 768px) {
        font-size: 20px;
        line-height: calc(24 / 20);
    }
}

// .footer__contacts-address {

// }

// .footer__contacts-list {
// }

.footer__contacts-item {
    margin-top: 16px;
}

.footer__contacts-link {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: calc(19 / 16);

    color: $white-color;

    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: calc(19 / 16);
    }
}


// .footer__socials-group {

// }

.footer__socials-list {
    display: flex;
    gap: 20px;

    @media screen and (max-width: 767px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) {
        flex-direction: column;
    }

    @media screen and (min-width: 1280px) {
        gap: 30px;
    }

}

// .footer__socials-item {

// }

// .footer__socials-link {

// }

.footer__socials-icon {
    width: 24px;
    height: 24px;

    fill: $white-color;
}

.footer__privacy-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(17 / 14);

    text-align: center;

    color: $privicy-text-color;
}

.footer__privacy-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(17 / 14);

    color: $white-color;
}
