.hero {
  background-image: url(../images/hero/hero-img1_320@1x.jpg);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero-img1_640@2x.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/hero-img1_768@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-img1_1536@2x.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/hero/hero-img1_1280@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero-img1_2560@2x.jpg);
    }
  }
}

.hero__container {
  padding-top: 15px;

  text-align: center;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 48px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;

    font-size: 72px;
  }
}

.hero__subtitle {
  margin-bottom: 246px;
  padding: 0 39px;

  font-weight: 300;
  font-size: 16px;
  
  @media screen and (min-width: 768px) {
    margin-bottom: 383px;

    font-size: 24px;
  }
}

.hero__btn {
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  padding: 10px 45px;
  width: 200px;

  font-weight: 300;
  font-size: 20px;
  line-height: calc(27 / 18);
  color: $secondary-text-color;

  background-color: $light-color;
  border: none;
  border-radius: 16px;

  cursor: pointer;

  transition-property: color, background-color;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:active {
    color: $light-color;
    background-color: $primary-text-color;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
    padding: 9px 62px;
    width: 256px;

    font-size: 20px;
  }
}
